@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply
    font-Poppins text-base
}

label{
    @apply pb-1
}

#form-text{
    @apply rounded-md border-gray-400 border focus:border-black border-2 placeholder:text-base text-lg text-gray-300 p-4
}
.btn_add{
    @apply  px-6 py-2 rounded-md bg-white text-orange-700 text-xs mr-2
}
.btn_select{
    @apply  text-base text-black py-3 pl-3 lg:pr-14 md:pr-14 sm:pr-1
}
.btn_up{
    @apply px-6 py-2 rounded-md bg-orange-700 text-white text-xs
}
.preview{
    @apply flex flex-wrap px-1 mt-2
}
.preview-img{
    @apply my-2 px-2 w-1/4
}
.link-select{
    @apply text-base pl-4 py-2 pr-10 hover:bg-orange-200
}
.link_grop{
    @apply bg-white rounded-md shadow-md absolute mt-16 ml-2
}
.img_i{
    @apply h-auto
}
#select_open{
    @apply flex flex-row items-center shadow-sm rounded-full border-2 my-2 ml-2
}
#currency{
    @apply  mr-5 bg-link-money
}
.slot{
    display: none;
}
.active{
    display: none;
}
.breadcrumbs{
    @apply sm:hidden md:flex lg:flex flex-row justify-start items-center my-8 
}
.breadcrumbs li{
    @apply flex flex-row text-sm text-gray-400
}
.breadcrumbs img{
    @apply px-3
}
.wrapper{
    @apply flex flex-col lg:flex-row justify-start items-start lg:items-center gap-2 lg:gap-0
}
.rating{
    @apply flex flex-row mr-4 border-b-2 border-transparent
}
.rating:hover{
    @apply border-black cursor-pointer
}
.location{
    @apply flex flex-row mr-2
}
.title-hotel{
    @apply  text-xl md:text-2xl lg:text-3xl mb-4 font-bold sm:mt-10 md:mt-0 lg:mt-0
}
.hotel-location{
    @apply mx-1 text-base sm:w-[250px] md:w-full lg:w-[320px] whitespace-nowrap text-ellipsis overflow-hidden
}
.link-map{
    @apply text-base underline text-orange-500 cursor-pointer
}
.foto-hotel{
    @apply mt-7 grid grid-cols-3 grid-rows-2 md:grid-cols-4 md:grid-rows-2 lg:grid-cols-4 lg:grid-rows-2 gap-3 place-items-stretch 
}
.img-big{
    @apply row-span-2 col-span-3 md:row-span-2 md:col-span-2 lg:row-span-2 lg:col-span-2
}
.wrap-content{
    @apply flex flex-row justify-between mt-11
}
.content-title{
    @apply  text-xl md:text-2xl lg:text-2xl mb-5 text-black font-bold
}
.content-discription p{
    @apply text-gray-500 text-base mb-2 pr-0 lg:pr-16
}
.content{
    @apply w-full lg:w-[70%]
}
.price{
    @apply block rounded-md border-2 border-gray-200 pr-28 pl-5 pt-5 pb-5 bg-white
}
.price span {
    @apply text-2xl text-black font-bold
}
.sidebar{
    @apply ml-6
}
.form-hotel{
    @apply flex flex-col rounded-md bg-gray-100 px-5 mt-4 py-10 w-full lg:w-[300px]
}
.name-form{
    @apply text-2xl mb-2 font-bold
}
.btn-add{
    @apply rounded-md bg-orange-700 text-white text-lg py-5 px-16 mt-8
}
.item-form{
    @apply mt-5 flex flex-col
}
.item-form input{
    @apply py-4 px-4 rounded-md border-2 border-gray-300 text-base focus:outline-orange-500
}
.avtor{
    @apply flex items-center gap-3 py-5 px-5 rounded-md border-2 border-gray-200 mt-4 bg-white
}
.avtor img{
    @apply row-span-2 w-14 h-14 rounded-full place-self-auto
}
.name-avtor{
    @apply text-base
}
.status-avtor{
    @apply text-gray-400
}
.contact{
    @apply rounded-md border-2 border-gray-200 mt-4 pl-5  py-5 bg-white
}
.contact-tel{
    @apply flex flex-row
}
.service-hotel{
    @apply  border-t-gray-100  mt-16 border-t-2
}
.service-title{
    @apply text-xl md:text-2xl lg:text-2xl text-black font-bold mt-7
}
.item-service{
    @apply flex flex-row
}
.item-service p{
    @apply ml-4
}
.hotel-service-icon{
    @apply w-6 h-6
}
.wrapper-service{
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 mt-10
}
.btn-service{
    @apply border-orange-500 border-2 py-3 pl-7 pr-6 inline-flex text-base font-bold mt-8 rounded-md cursor-pointer
}
.btn-service span{
    @apply rotate-90 px-1
}
.wrapper-type{
    @apply grid grid-cols-2 grid-rows-1 gap-6 mt-8
}
.room{
    @apply flex flex-col md:flex-row lg:flex-row items-start md:items-center lg:items-center justify-between border-2 border-gray-200 my-4 rounded-md
}
.room-img{
    @apply w-full md:w-2/6 lg:w-2/6
}
.wrapper-rooms{
    @apply mt-8
}
.wrapper-room, .item-room{
    @apply px-6 py-4 md:py-0 md:px-0 lg:py-0 lg:px-0
}
.wrapper-room li{
    @apply flex flex-row mb-4
}
.wrapper-room li p{
    @apply ml-4
}
.title-room{
    @apply text-xl mb-5 font-bold
}
.item-room{
    @apply pr-0 md:pr-6 lg:pr-9
}
.btn-booking{
    @apply  py-3 px-7 bg-orange-700 text-white text-base mt-4 rounded-md
}
.rooms{
    @apply border-t-2 pb-0 md:pb-7 lg:pb-7 mt-16
}
.map-address{
    @apply text-gray-500 ml-2 
}
.details-room{
    @apply text-gray-500 flex flex-row md:flex-col lg:flex-col gap-4 flex-wrap
}
.reviews-popup{
    @apply bg-white w-[80%] md:w-[80%] lg:w-1/2 h-[80%] md:h-[80%] lg:h-3/4 mx-auto rounded-md pt-12 px-5 md:px-20 lg:px-20 mt-20
}
.reviews-info{
    @apply border-b-2 border-gray-200 pb-8 flex flex-col lg:flex-row justify-between 
}
.reviews-rating{
    @apply grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-20 mt-5 lg:mt-0 w-full lg:w-[60%]
}
.progress{
    @apply w-full
}
.progress::-webkit-progress-bar{
    @apply bg-gray-300 rounded-full h-2
}
.progress::-webkit-progress-value{
    @apply bg-orange-500 rounded-full
}
.review-info{
    @apply flex flex-row gap-4
}
.review-content{
    @apply text-gray-500 pt-4
}
.reviewer-img{
    @apply w-12 h-12 rounded-full
}
#close-reviews{
    @apply absolute right-[6%] md:right-[9%] lg:right-[24%] top-16 cursor-pointer
}

/*common*/
.gray-text{
    @apply text-gray-500
}
.side-paddings{
    @apply mx-auto sm:w-full md:w-[80%] lg:w-[1170px] px-4
}
/* ::-webkit-scrollbar {
    display: none;
} */
.flex-alignment{
    @apply flex justify-between items-center 
}
.round-icon{
    @apply sm:h-[40px] md:h-[40px] lg:h-full
}
.logo{
    @apply object-contain sm:h-[14px] md:h-[25px] lg:h-full
}
.main-btn{
    @apply rounded-md bg-orange-700 text-white font-bold text-lg py-5 px-10
}
.main-btn:hover{
    @apply bg-orange-600
}
#success-popup{
    @apply bg-white py-16 text-center w-[90%] md:w-2/3 lg:w-2/3 rounded-md mx-auto fixed top-[50%] left-[50%] z-50;
    transform: translate(-50%, -50%);
}
#overlay, #booking-overlay {
    @apply fixed top-0 left-0 w-full h-full z-[9999] hidden;
    background-color: rgba(0, 0, 0, 0.5); 
}
#add-hotel-popup{
    @apply max-h-[95%] w-[90%] md:w-[70%] lg:max-h-[90%] lg:w-[800px] bg-gray-200 rounded-md mx-auto mt-5 lg:mt-10 p-5 md:p-8 lg:p-10 overflow-y-auto;
}
.add-form-field{
    @apply flex flex-col pb-3 md:pb-6 lg:pb-7
}

/*header styling*/
#header{
    @apply sticky w-full top-0 z-[9998]
}
.bg-header-top{
    @apply px-12 sm:hidden md:hidden lg:block
}
.main-header{
    @apply bg-white sm:px-4 md:px-12 lg:px-12 py-5 shadow-md
}
.header-icons{
    @apply flex flex-row sm:hidden md:hidden lg:flex items-center
}
.menu{
    @apply h-screen absolute w-full lg:w-[300px] bg-white drop-shadow-lg flex flex-col justify-between z-50 lg:z-[-1] top-0 lg:pt-[180px];
}
@media (min-width: 1440px) {
    .sub-menu{
        animation-name: slideRight;
        animation-duration: 0.65s; 
        animation-timing-function: ease-in-out; 
    }
}
.menu {
    animation-name: slideRight;
    animation-duration: 0.65s; 
    animation-timing-function: ease-in-out; 
}
@keyframes slideRight {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0%);
    }
}
.menu-link{
    @apply flex flex-row
}
.menu li {
    @apply pl-5 pr-5 lg:pl-12 py-2 text-base lg:text-lg flex justify-between items-center cursor-pointer
}
.first-menu li{
    @apply hover:bg-menu-active
}
.money-select{
    @apply uppercase text-gray-400 px-2
}
.leng-select{
    @apply uppercase text-sm mr-2
}
#add-section{
    @apply absolute top-0 right-0 mt-20 mr-16 md:mt-32 z-[10000] bg-white drop-shadow-lg py-5 px-5 w-[250px] flex flex-col gap-8 items-start rounded-md
}
#contact-section{
    @apply absolute top-0 right-0 mt-20 mr-4 md:mt-32 z-[10000] bg-white drop-shadow-lg py-5 px-5 w-[280px] flex flex-col gap-8 items-start rounded-md
}
.search-area{
    @apply mt-4 md:mt-0 lg:mt-0 h-[50px] lg:h-16 flex justify-between items-center border-orange-400 border-2 rounded-full mx-0 md:mx-10 lg:mx-10
}
.search-area-md{
    @apply w-[70%] h-[50px] hidden md:flex lg:hidden justify-between items-center border-orange-400 border-2 rounded-full mx-5
}
.search_input{
    @apply w-full h-9 lg:h-11 ml-4 mr-2 focus:outline-none
}
.search_input:focus{
    @apply bg-white;
}
#leng-menu{
    @apply flex flex-col py-2 drop-shadow-lg absolute bg-white z-50 ml-6 rounded-md w-16 z-[10000]
}
#leng-menu li, #foo-leng-menu li{
    @apply cursor-pointer hover:bg-gray-100 px-3 py-2
}
.leng, .currency{
    @apply flex flex-row items-center
}
#currency-menu{
    @apply flex flex-col py-2 drop-shadow-lg absolute bg-white z-50 ml-24 rounded-md items-center z-[10000]
}
#currency-menu li, #foo-currency-menu li{
    @apply cursor-pointer hover:bg-gray-100 px-4 py-2
}
.currency-select{
    @apply uppercase text-sm mr-2
}
.search-result-item{
    @apply flex flex-row gap-3 py-3 px-5 border-b-2 border-gray-100 cursor-pointer hover:bg-gray-100
}
#search-results {
  @apply absolute py-5 bg-white rounded-md w-[92%] md:w-[60%] lg:w-[45%] overflow-y-scroll overflow-x-hidden max-h-[80vh] right-0 mr-5 md:mr-[190px] lg:mr-[460px] mt-1;
  box-shadow: 0px 1px 9px 1px rgba(84,84,84,0.35);
}
.result-photo{
    @apply w-[90px] h-[90px] md:w-[140px] md:h-[140px] lg:w-[140px] lg:h-[140px] object-cover rounded-md aspect-square;
}
.result-desc{
    @apply text-sm lg:text-base text-gray-700 text-ellipsis;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.sub-menu{
    @apply overflow-y-auto h-screen lg:bg-[#f7f9fa] lg:w-[300px] lg:absolute lg:z-[-100] lg:left-[300px] lg:top-[140px] lg:pt-10 lg:pb-40 scroll-smooth
}
.sub-menu li{
    @apply h-[48px] lg:text-gray-500 hover:text-black
}
.reset-btn{
    @apply text-sm cursor-pointer text-gray-500 px-3 py-2 hover:text-black;
}

/*footer styling*/
.footer-contact{
    @apply flex flex-col sm:border-l-0 md:border-l-2 lg:border-l-2  border-orange-500 mb-6 pl-3.5
}
.footer-text{
    @apply text-lg mb-1.5
}
.email-input{
    @apply h-14 p-3.5 text-lg border-2 border-gray-300 rounded-md lg:w-full md:w-full sm:w-full lg:mb-0 sm:mb-4 ml-0 lg:ml-8
}
.subscribe-btn{
    @apply bg-orange-700 text-white text-lg font-bold rounded-md h-14 lg:w-1/3 md:w-full sm:w-full
}
.email-subscription{
    @apply flex justify-between bg-gray-100 py-16 sm:flex-col md:flex-col lg:flex-row items-center
}
.copyright{
    @apply flex sm:items-center md:items-center lg:justify-between py-5 border-t-2 border-gray-50 sm:flex-col md:flex-col lg:flex-row relative
}
.main-footer{
    @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 justify-between py-10 sm:text-center md:text-left lg:text-left
}
.company{
    @apply flex flex-col sm:mb-10 md:mb-0 lg:mb-0 ml-0 md:ml-10
}
.rules{
    @apply flex flex-col sm:mb-10 md:mb-10 lg:mb-0 ml-0 md:ml-10
}
.footer-icons{
    @apply flex flex-row gap-3.5 items-start justify-center md:justify-start lg:justify-center
}
#foo-leng-menu, #sidebar-leng-menu{
    @apply flex flex-col py-2 drop-shadow-lg absolute bg-white z-50 rounded-md w-16 bottom-24 lg:bottom-14 mr-20
}
#foo-currency-menu{
    @apply flex flex-col py-2 drop-shadow-lg absolute bg-white z-50 bottom-24 lg:bottom-14 ml-16 rounded-md items-center 
}

/*main page styling*/
.active-phone{
    @apply !w-full
}
.phone-overflow{
    @apply text-base text-gray-500 pl-2 mr-1 text-ellipsis w-[60px] overflow-hidden
}
.icons-group{
    @apply flex flex-col items-center pb-1 cursor-pointer
}
.icons-group:hover{
    @apply brightness-[0.7] border-b-2 border-gray-100
}
.icons-group.active-group{
    @apply border-b-2 border-black brightness-0
}
.service-icon{
    @apply w-9 h-9 mb-1
}
.locations-group{
    @apply flex justify-start gap-5 lg:gap-10 overflow-x-scroll w-[80%] lg:w-[70%] md:w-full lg:w-full mx-4 scroll-smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.locations-group::-webkit-scrollbar{
    display: none;
}
.slider-icon{
    @apply cursor-pointer block object-contain
}
.triangle-icons{
    @apply sm:flex md:hidden lg:hidden justify-between side-paddings mt-6 cursor-pointer
}
.hotel-cards{
    @apply grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-7 mt-10
}
.hotel-card{
    @apply flex flex-col justify-start cursor-pointer
}
.hotel-title{
    @apply text-base font-semibold text-black mt-4 mb-3 text-ellipsis overflow-hidden whitespace-nowrap
}
.hotel-address{
    @apply text-base text-gray-500 pl-2 text-ellipsis overflow-hidden whitespace-nowrap
}
.hotel-phone{
    @apply flex flex-row mt-1.5 mb-1.5 justify-start
}
.hotel-img{
    @apply rounded-md aspect-square object-cover
}
.btn-more{
    @apply rounded-md bg-orange-700 text-white text-lg py-5 px-10 mt-20 mb-10 block mx-auto sm:w-full md:w-max lg:w-max
}
.btn-more:hover, .culture-btn:hover{
    @apply bg-orange-600
}
#categories{
    @apply flex flex-row text-xl gap-10 border-b-2 border-gray-200 sm:overflow-x-scroll md:overflow-hidden lg:overflow-hidden scroll-smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#categories::-webkit-scrollbar{
    display: none;
}
.categories-options{
    @apply flex flex-row gap-2.5 lg:text-xl md:text-lg sm:text-lg mt-8 mb-24 flex-wrap
}
.popular-directions{
    @apply grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-7 relative w-full
}
.carpatians-is{
    @apply grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 gap-7
}
.culture-img{
    @apply aspect-square lg:w-auto md:w-[35%] sm:w-full object-cover
}
.active-rest{
    @apply flex gap-7 lg:flex-row md:flex-col sm:flex-col
}
.active-rest-p{
    @apply sm:text-base md:text-base lg:text-lg text-gray-500
}
.faq{
    @apply flex gap-7 justify-between lg:flex-row md:flex-col sm:flex-col
}
.faq-img{
    @apply sm:h-[280px] lg:h-fit object-cover rounded-md block md:hidden
}
.category-item{
    @apply cursor-pointer
}
.active-item{
    @apply pb-3.5 border-b-4 border-orange-400
}
.options{
    @apply py-2.5 px-5 bg-gray-100 rounded-md outline outline-2 outline-gray-100
}
.options:hover{
    @apply outline-black cursor-pointer
}
.hidden{
    display:none;
}
.location-info{
    @apply flex flex-wrap gap-8 justify-center py-6 bg-white rounded-b inset-0 top-auto lg:hidden lg:absolute
}
.location-title{
   @apply text-white lg:text-3xl md:text-2xl sm:text-2xl font-bold absolute inset-0 sm:top-[30%] md:top-[40%] lg:top-1/2
}
.location-img:hover .location-info{
    @apply flex cursor-pointer
}
.carpatians-card{
    @apply flex sm:flex-col md:flex-row lg:flex-col justify-between gap-0 md:gap-10 lg:gap-0 sm:border-0 md:border-2 lg:border-0 rounded-md h-full pb-10 md:pb-0 lg:pb-0
}
.carpatians-title{
    @apply text-2xl font-bold pt-7 md:pt-4 lg:pt-7 pb-3.5
}
.carpatians-desc{
    @apply flex flex-col sm:justify-between md:justify-center lg:justify-between items-start h-auto md:h-[260px] lg:h-[260px] gap-5 w-full
}
.culture-btn{
    @apply rounded-md bg-orange-700 text-white text-lg py-4 px-8 sm:w-full md:w-max lg:w-max
}
.panel{
    display: none;
    overflow: hidden;
}
.accordion{
    @apply py-4 px-7 bg-gray-100 rounded-md text-lg font-bold w-full mb-3 text-left flex items-center justify-between
}
.panel.active {
    display: block;
}
.main-title{
    @apply sm:text-2xl md:text-3xl lg:text-5xl font-bold sm:mt-0 md:mt-12 lg:mt-20 mb-10 sm:text-center md:text-center lg:text-left
}
.indicator {
    @apply absolute bottom-0 left-[50%] mb-[-50px] sm:flex md:block lg:hidden cursor-pointer;
    transform: translateX(-50%);
}
.dot {
    @apply h-[10px] w-[10px] mx-1 bg-white border-[1px] border-gray-400 rounded-full inline-block
}
.dot.active {
  @apply bg-orange-700;
}
.dot:hover{
    @apply bg-orange-200;
}

/*become a guide styling*/
.guide-wrapper{
    @apply flex flex-col lg:flex-row items-center py-16 lg:py-24 gap-10
}
.guide-title{
    @apply text-3xl lg:text-5xl font-bold lg:leading-[65px] mb-5 text-center lg:text-left
}
.guide-paragraph{
    @apply text-lg lg:text-xl text-gray-500 mb-10 md:mb-14 lg:mb-14
}
.cons-wrapper{
    @apply bg-gray-100 py-16 lg:py-24
}
.cons-info{
    @apply flex flex-col lg:flex-row gap-10 mb-16 mt-10
}
.cons-card{
    @apply bg-white p-6 lg:p-12 rounded-md
}
.cons-title{
    @apply text-2xl font-bold mb-2
}
.cons-desc{
    @apply text-lg text-gray-500
}
.requirements{
    @apply py-16 lg:py-24
}
.req-wrapper{
    @apply mt-6 lg:mt-14 flex flex-row flex-wrap justify-start gap-5
}
.requirement{
    @apply text-lg py-3.5 px-7 bg-gray-100 rounded-md whitespace-normal lg:whitespace-nowrap
}
.requirement-wrap{
    @apply text-lg py-3.5 px-7 bg-gray-100 rounded-md
}
.guide-img{
    @apply object-cover rounded-md
}
.vacancy-item{
    @apply flex items-start lg:items-center gap-2.5
}
.vacancy-item img{
    @apply bg-white p-2.5 text-lg rounded-md
}
.vacancy-item span{
    @apply bg-white py-3.5 px-7 text-lg rounded-md
}
.actions-item{
    @apply mb-10 flex items-center gap-7 relative
}
.circle{
    @apply w-20 h-20 p-6 border-2 border-orange-500 rounded-full font-bold text-2xl
}
.actions-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 38px;
    height: 50%;
    border-left: 2px solid #E48850;
}

/*guide-form styling*/
#guide-form{
    @apply flex flex-col w-[20%] mx-auto text-left
}
#guide-form label{
    @apply mt-6
}
#guide-form input, textarea{
    @apply p-3 rounded-md border-2 border-gray-300
}
#guide-form input:focus, textarea:focus{
    @apply outline-orange-600
}
.required{
    @apply  text-red-600 mr-1
}
#guide-form h2{
    @apply text-2xl font-bold
}
.guide-header{
    @apply py-9
}
.guide-footer{
    @apply py-9 text-center text-lg
}
.error-message{
    @apply text-red-500 hidden mt-1
}

/*hotel slider*/
.map-popup{
    @apply fixed top-[50%] left-[50%] rounded-md w-[80%] h-[80%];
    transform: translate(-50%, -50%);
}
#photos-popup{
    @apply fixed rounded-md top-[50%] left-[50%] z-50 w-full md:w-[40%] lg:w-[35%];
    transform: translate(-50%, -50%);
}
.slider-overlay{
    @apply fixed top-0 left-0 w-full h-full z-[9999];
    background-color: rgba(0, 0, 0, 0.8); 
}
#close-slider{
    @apply absolute right-0 cursor-pointer h-[24px] w-[24px] md:h-[36px] md:w-[36px] lg:h-[36px] lg:w-[36px]
}
#close-map{
    @apply absolute right-[7%] md:right-[9%] lg:right-[9%] top-[8%] z-50 cursor-pointer
}
.slider-image, .demo{
    @apply aspect-square w-full h-full rounded-lg
}
.mySlides {
  display: none;
}
.prev,
.next {
    @apply cursor-pointer absolute top-[40%] h-[24px] w-[24px] md:h-[36px] md:w-[36px] lg:h-[36px] lg:w-[36px]; 
}
.next {
    @apply right-0 mr-[20px];
}
.prev{
    @apply left-0 ml-[20px];
}
.numbertext {
    @apply text-black text-sm absolute top-0 pt-4 hidden;
}
.caption-container {
    @apply text-center bg-gray-200 text-black py-2 font-medium;
}
.row {
    @apply flex flex-row gap-2 overflow-x-scroll w-full;
    flex-wrap: nowrap; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.row::-webkit-scrollbar{
    display: none;
}

.column {
  @apply flex-shrink-0;
  width: 100px;
  float: none; 
}
.demo {
  opacity: 0.6;
}
.dots-active,
.demo:hover {
  opacity: 1;
}
#addHotelForm input {
 @apply py-3 px-5 rounded-md border-2 border-gray-300 focus:outline-orange-500
}
input.invalid {
  @apply focus:outline-red-500
}
.tab {
  display: none;
}
.step {
    @apply w-3 h-3 md:h-4 md:w-4 lg:h-4 lg:w-4 bg-orange-500 border-0 rounded-full inline-block opacity-25;
}
.step.active {
  opacity: 1;
}
.step.finish {
  @apply bg-blue-600;
}
#prevBtn, #nextBtn{
    @apply px-10 py-3 text-white rounded-md text-lg mt-4 md:mt-4 lg:mt-8
}
#prevBtn{
    @apply bg-gray-500 hover:bg-gray-400
}
#nextBtn{
    @apply bg-orange-700 hover:bg-orange-600
}
#addHotelForm .details{
    @apply text-lg text-left mt-8 mb-8 font-bold
}
.splide__pagination{
    @apply !bottom-0 !relative !pt-10
}
.splide__pagination__page{
    @apply !w-3 !h-3
}
.splide__pagination__page.is-active{
    @apply !bg-orange-700 !scale-100;
}
.splide__arrow{
    @apply !hidden
} 

/*calendar styling*/
  .calendar {
    @apply flex flex-col p-4 md:p-8 lg:p-8 w-full md:w-full lg:w-[580px] text-sm rounded-md absolute z-50 bg-white right-0 mt-3;
    box-shadow: 0px 3px 11px 1px rgba(219,219,219,1);
  }
  
  .month {
    @apply mx-auto max-w-[310px] min-[1200px]:w-[45%] lg:w-[45%];
  }

  #nextMonth{
    @apply hidden lg:block;
  }
  
  .month .month-name {
    @apply text-lg;
  }
  
  .days {
    @apply flex justify-between mb-4 text-gray-500;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .date {
    @apply flex flex-wrap;
  }
  
  .date div {
    @apply text-center py-1.5 hover:bg-orange-100 hover:cursor-pointer border-2 border-transparent;
    width: calc(100% / 7);
  }
  
  .calendar-button {
    @apply cursor-pointer text-xl text-gray-700 hover:bg-gray-100 hover:rounded-full p-0 w-8 h-8;
  }

.selected-date{
    @apply border-2 !border-orange-600 bg-orange-100
}